extends layout

block title
    title NIRS - homepage

block content
    .content
        if (isOwner)
            .content__left
                .tools
                    ul
                        li.tools__item.tools__item_type_rectangle
                        li.tools__item.tools__item_type_ellipse
                        li.tools__item.tools__item_type_triangle
                        li.tools__item.tools__item_type_text
                        li.tools__item.tools__item_type_line
                        li.tools__item.tools__item_type_arrow
                        li.tools__item.tools__item_type_move
                        li.tools__item.tools__item_type_cursor.active
                        li.tools__item.tools__item_type_color
                            input.jscolor(value="000000")

        .content__center
            canvas#canvas(width="600", height="400") Обновите свой браузер для поддержки canvas
        .side-menu_right

    .meta= isOwner ? 'Master' : 'Slave'
    .meta
        a.link(href="/") <- Home

block should-scripts
    //- TODO: prodution + cdn
    script(src="/public/js/libs/lodash/dist/lodash.min.js")
    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js")
    script(src="/public/js/libs/fabric.js/dist/fabric.js")
    //- zepto custom build(modules: "zepto event ajax data fx fx_methods callbacks deferred")
    script(src="/public/js/libs/zepto.min.js")

    -var mainScript = isOwner ? "/public/js/main" : "/public/js/customer-main";
    script(data-main=mainScript, src="/public/js/libs/requirejs/require.js")