extends layout

block title
    title NIRS - homepage

block content
    .content
        .content__left
            .tools
                ul
                    li.tools__item.tools__item_type_rectangle.active
                    li.tools__item.tools__item_type_ellipse
                    li.tools__item.tools__item_type_triangle
                    li.tools__item.tools__item_type_text
                    li.tools__item.tools__item_type_line
                    li.tools__item.tools__item_type_arrow
                    li.tools__item.tools__item_type_move
                    li.tools__item.tools__item_type_cursor
        .content__center
            canvas#canvas(width="600", height="400") Обновите свой браузер для поддержки canvas
        .side-menu_right

    .meta= isOwner ? 'Master' : 'Slave'

block should-scripts
    script(src="/public/js/lodash.min.js")
    //- TODO: prodution + cdn
    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js")
    script(src="/public/js/fabric.js")
    //- zepto custom build(modules: "zepto event ajax data fx fx_methods callbacks deferred")
    script(src="/public/js/zepto.min.js")
    script(data-main="/public/js/main", src="/public/js/require.js")