extends layout

block title
    title NIRS – welcome

block content
    .main-popup
        .main-popup__inner

            a.main-popup__btn.main-popup__create-canvas(href='/boards/new')
                | Создать новую доску
            a.main-popup__btn.main-popup__my-boards
                | Мои доски