extends ./layout.jade

block title
    title NIRS - homepage

block content
    .content
        .content__left
            .tools
                ul
                    li.tools__item.tools__item_type_rectangle
                    li.tools__item.tools__item_type_ellipsis
                    li.tools__item.tools__item_type_triangle
                    li.tools__item.tools__item_type_text
                    li.tools__item.tools__item_type_line
                    li.tools__item.tools__item_type_arrow
                    li.tools__item.tools__item_type_move
                    li.tools__item.tools__item_type_cursor
        .content__center
            canvas.canvas Обновите свой браузер для поддержки canvas
        .side-menu_right
