// переменные подключаются в global.styl
body
    color $black
    font-family Arial

.content
    overflow: hidden

    &__left,
    &__center
        float: left

.tools
    width: 64px
    cursor: pointer

    ul
        list-style: none
        overflow: hidden
        padding-bottom: 1px;

    &__item
        box-sizing: border-box
        width: 32px
        height: 32px
        border: 1px solid $black

        // схлопываем рамки
        margin: 0 0 -1px -1px;

        float: left

        background: url(/public/images/tools-sprite.png)

        &_type_ellipse
            background-position: 32px 0;

        &_type_triangle
            background-position: 0 -32px;

        &_type_text
            background-position: 32px -32px;

        &_type_line
            background-position: 0 -64px;

        &_type_arrow
            background-position: 32px -64px;

        &_type_move
            background-position: 0 -96px;

        &_type_cursor
            background-position: 32px -96px;

        &_type_color
            .jscolor
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: 1px solid $main_color;
                // перебиваем инлайн стили из библиотеки
                color: transparent !important;

        .active&
            position: relative;

            &:after
                position: absolute;
                width: 100%;
                height: 100%;
                background: $black;
                opacity: .2;
                content: '';

#canvas
    margin-left: 2px;
    box-shadow: 0 0 2px 2px $blue inset;

.meta
    font-size: 14px
    padding: 20px 0 0 65px

    color: $dark_gray



// TODO: Separate *.styl files for jade templates
// main.jade begin:

.main-popup
    // выравниваем поцентру, но с фиксированным отступом от верха
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0

    margin: auto
    margin-top: 100px

    width: 400px
    height: 300px

    border-radius: 8px

    box-shadow: 0px 0px 6px 4px $dark_blue

    &__inner
        padding-top: 60px

    &__btn
        font-size: 16px
        font-weight: normal

        text-decoration: none
        text-align: center
        color: #fff

        display: block
        line-height: 40px
        width: 80%
        margin: 30px auto 0

        background: $dark_blue

        border-radius: 5px

        transition: .3s ease-out

    &__btn:hover
        text-shadow 1px 1px 1px #fff

        border-radius 0