// Панель инструментов
@require 'icons.styl'

// Подключаем переопределения по mediaquery
@require 'media.styl'

// переменные подключаются в global.styl
body
    color $black
    font-family Arial

.content
    display: flex
    overflow: hidden

    &__left,
    &__center
        vertical-align: top
        display: inline-block

#canvas
    margin-left: 2px
    box-shadow: 0 0 2px 2px $blue inset

.meta
    font-size: 14px
    padding: 20px 0 0 65px

    color: $dark_gray



// TODO: Separate *.styl files for jade templates
// main.jade begin:

.main-popup
    // выравниваем поцентру, но с фиксированным отступом от верха
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0

    margin: auto
    margin-top: 100px

    width: 400px
    height: 300px

    border-radius: 8px

    box-shadow: 0px 0px 6px 4px $dark_blue

    &__inner
        padding-top: 60px

    &__btn
        font-size: 16px
        font-weight: normal

        text-decoration: none
        text-align: center
        color: #fff

        display: block
        line-height: 40px
        width: 80%
        margin: 30px auto 0

        background: $dark_blue

        border-radius: 5px

        transition: .3s ease-out

    &__btn:hover
        text-shadow 1px 1px 1px #fff

        border-radius 0

.side-menu-wrapper
    flex-grow: 1
    padding-right: 2px

    text-align: right

.userlist
    display: inline-block
    vertical-align: top
    padding: 0 0 8px

    text-align: left

    border: 3px solid $main_color

    border-radius: 6px

    width: 200px

    &__title
        line-height: 150%
        text-align: center

        border-bottom: 2px solid black

    &__item
        line-height: 200%
        width: 100%
        padding-left: 5px

        cursor: pointer

        & + &
            border-top: 1px dashed $dark_blue
